<div class="column is-one-quarter">
	<nav class="panel">
		<p class="panel-heading">Trends</p>
		<a class="panel-block">
			#DiaDelLibro
		</a>
		<a class="panel-block">
			#DiaMundialDelLibro
		</a>
		<a class="panel-block">
			#FelizJueves
		</a>
		<a class="panel-block">
			#DiaInternacionaldelLibro
		</a>
		<a class="panel-block">
			Chumel
		</a>
		<a class="panel-block">
			#CuidemosTodosDeTodos
		</a>
	</nav>
</div>
